$tech-word-color: #434343;

.tech-buzz-word {
  font-size: 0.75em;
  background: $tech-word-color;
  text-decoration: none;
  box-shadow: 1px 1px 1px $tech-word-color;
  padding: 0.50em;
  margin:0.15em 0.25em;
  color: #fff;
}

.tech-buzz-word:hover {
  color: $tech-word-color;
  background: #fff;
}